/*
RULES: Here is the place for layout. You are welcome to edit positions, borders, etc,... but NOT FOR FONTS or COLORS
*/

/*
PREVENT DEFAULT BEHAVIOR
*/

*{
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}

body{
	position: relative;
	margin-top: 50px;
}

/*
END OF PREVENT DEFAULT BEHAVIOR
*/
.main-header{
	position: fixed;
	width: 100%;
	z-index: 999;
	margin-top: -50px;
}


.main-header>.main-header-container{
	width: 90%;
	margin: auto;
	position: relative;
}

.main-header>.main-header-container>.main-header-title{
	font-size: 1.3rem;
}

.main-header>.main-header-container>.main-header-element{
	display: inline-block;
	line-height: 50px;
}

.main-header>.main-header-container>.main-header-menu{
	position: absolute;
	right: 0;
}

.main-header>.main-header-container>.main-header-logo{
	height: 44px;
	margin: 3px;
	float:left;
}

.menu-element:nth-child(n+2)::before{
	content: '|';
	font-size: 12px;
	margin: 10px;
}

.main-section-title{
	line-height: 15vh;
}


#who-am-i .who-am-i-img{
	max-height: 300px;
}

.front-page{
	position: relative;
}


.main-footer{
	line-height: 50px;
}

.front-page>.front-page-container{
	bottom: 15px;
	right: 15px;
	display: inline-block;
	position: absolute;
}

.form-input{
    width: 100%;
    height: 35px;
    padding: 0 15px;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 15px;
	border-color: #000000;
}

.short-input{
	margin: auto;
	width: 50%;
}

#quotes{
	min-height: 50vh;
}

.form-textarea{
	height: 150px;
    resize: none;
	padding-top: 7px;
}


.circle{
	border-radius: 50%
}

.full-viewport{
	min-height: calc(100vh - 50px);
	width: 100%;
}

.title-centered{
	text-align: center;
}

.center-alignment{
	align-items: center;
}

.content-section{
	display: flex;
	width: 80%;
	margin: auto;
	max-width: 1024px;
}

.section-container{
	padding: 50px;
}

.flex-same-width>.section-container{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
}

.grid-row{
	width: 100%;
}

img{
	width:80;
	margin: auto;
}

.quote-container{
	display: block;
	width: 100%;
	max-width: 1024px;
	margin: auto;
}

.grid-col-12{ width: 100%; display: block;}
.grid-col-11{ width: calc((100% / 12) * 11); display: inline-block; float:left; clear:right;}
.grid-col-10{ width: calc((100% / 12) * 10); display: inline-block; float:left; clear:right;}
.grid-col-9{ width: calc((100% / 12) * 9); display: inline-block; float:left; clear:right;}
.grid-col-8{ width: calc((100% / 12) * 8); display: inline-block; float:left; clear:right;}
.grid-col-7{ width: calc((100% / 12) * 7); display: inline-block; float:left; clear:right;}
.grid-col-6{ width: calc((100% / 12) * 6); display: inline-block; float:left; clear:right;}
.grid-col-5{ width: calc((100% / 12) * 5); display: inline-block; float:left; clear:right;}
.grid-col-4{ width: calc((100% / 12) * 4); display: inline-block; float:left; clear:right;}
.grid-col-3{ width: calc((100% / 12) * 3); display: inline-block; float:left; clear:right;}
.grid-col-2{ width: calc((100% / 12) * 2); display: inline-block; float:left; clear:right;}
.grid-col-1{ width: calc((100% / 12) * 1); display: inline-block; float:left; clear:right;}

