/*
RULES: Here is the place for colors, fonts, background images but NOT FOR LAYOUT.
*/

@font-face {
  font-family: 'FiraSansCondensed-Bold';
  src: url('../resources/fonts/FiraSansCondensed-Bold.ttf');
}

@font-face {
  font-family: 'FiraSansCondensed-Regular';
  src: url('../resources/fonts/FiraSansCondensed-Regular.ttf');
}

*{
	font-family: 'FiraSansCondensed-Regular', sans-serif;
}

a{
    color: initial;
    text-decoration: initial;
}

.main-header{
	background-color: rgba(255,255,255,0.9)
}

.menu-element:nth-child(n+2)::before{
	color: #DDDDDD;
}

#front-page{
	background-image: url(../resources/img/front.jpg);
    background-position: center;
    background-size: cover;	
}

.main-section-title{
	font-size: 2.5em;
	font-family: 'FiraSansCondensed-Bold', sans-serif;
	font-weight: bold;
}

.soft-green{
	background-color: rgb(227, 251, 113);
}

.hard-purple{
	background-color: rgb(108, 0, 108);
	color: #FFFFFF;
}

.soft-pink{
	background-color: rgb(210, 95, 210);
}

.grow-up{
	animation: grow-up 1s ease-in forwards;
}

.rotate:hover{
	animation: rotate 0.5s ease-in forwards;
}

.author{
	font-weight: bold
}

.skill-img{
	background-color: rgba(230,230,230,0.5);
	border-width: 5px;
	border-color: #111111;
	border-style: solid;
}

@keyframes grow-up {
	to { transform: scale(1.2)}
	from { transform: scale(1)}
}

@keyframes rotate {
	to { transform: rotate(15deg)}
	from { transform: rotate(0deg)}
}

input[type="button"], input[type="submit"]{
	cursor: pointer;
}